{% extends "base.html"%}
{% block content%}
<div class="container" style="margin-top: 120px;"> <!-- Margin to clear fixed navbar -->
    <div class="hero-section">
        
        <div class="intro-content">
            <div class="typed-text-container">
                <span id="typed-text2"></span>
            </div>
            
            <p class="intro-text">
                Welcome to the forefront of innovation in natural language processing. Our platform transforms vast amounts 
                of text into concise, digestible summaries. Whether you’re a researcher or a business, empower yourself 
                to stay ahead in the information age with our intelligent tools.
            </p>

            <a href="/summary" class="btn-cta">
                Get Started <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>

        <div class="hero-image-container">
            <img src="../static/images/home page.jpeg" class="home-img" alt="AI Summarization Illustration">
        </div>

    </div>
</div>
{% endblock content%}