
/* end navbar  */


/* start text summerization */

/* General styles */


.containert {
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 20px;
padding: 20px;
}

.texts {
width: 300%;
max-width: 60vw;
min-height: 200px;
border-radius: 20px;
padding: 10px;
border: none;
outline: none;
}

.containert div {
width: 100%;
max-width: 700px;
}
form{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-direction: column;
}



/* Summary styles */
.summery {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.abstractive,
.extractive {
flex: 1 1 50%;
display: none ;
}

/* Default styles for summary */
.summery span {
color: #3d05e3;
margin-left: 10px;
}

.summery p {

border-radius: 20px;
padding: 10px;
line-height: 1.7;
margin-top: 4px;
box-shadow: 
0px 0px 15px rgba(0, 0, 0, 0.3), /* Base shadow */
0px 5px 15px rgba(0, 0, 0, 0.5), /* Black shadow, slightly below */
0px -5px 15px rgba(0, 0, 0, 0.5), /* Black shadow, slightly above */
5px 0px 15px rgba(0, 0, 0, 0.5), /* Black shadow, slightly to the right */
-5px 0px 15px rgba(0, 0, 0, 0.5); /* Black shadow, slightly to the left */

background-color: rgb(251, 223, 223);

}
.copy{
color: white !important;
}

@media (max-width: 768px) {
.texts {
max-width: 90vw;
}

.containert div {
max-width: 90vw;
}

.summery {
flex-direction: column;
align-items: center;
}

.abstractive,
.extractive {
flex: 1 1 100%;

}
}


.spain{
  display: none;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  border: 5px solid #e91e63;
  transform: rotate(1turn);
  transition: transform 3s;
  border-left-color: transparent;
  
  background-size: 400%;
  animation: spin 1s linear infinite;
  
  }
  
  @keyframes spin{
    0%{
      transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
        }
}

.active{
  display: block;
}


.btn1{
  animation: none;
  background-color: #cccccc; /* Gray background */
  color: #666666;           /* Gray text */
  border: 1px solid #cccccc;
  cursor: not-allowed !important;      /* Change cursor to indicate the button is disabled */
}
.activeAnimation{
  color: white;
  transition: 1s; /* Transition duration for other properties */
  animation: changeColor ease infinite;
  animation-duration: 1s; /* Total duration for the animation */
  animation-direction: alternate;
  cursor: pointer !important;

}
.btn3{
  user-select: none;
  cursor: pointer;
}